.back-to-home{
  position:absolute;
  display:block;
  top:18px;
  left:23px;
  font-size:14px;
}

section{
  margin-bottom: $bigspacing;
}

.section-title{
  font-size: 20px;
  text-transform: uppercase;
  font-weight: normal;
  letter-spacing: 1px;
  color: $text;
  span{
    display: inline-block;
    background: $notebook-bg;
    position: relative;
    z-index: 110;
    padding-right: 10px;
  }
  &:after{
    display: block;
    position: relative;
    top: -14px;
    content: " ";
    height: 2px;
    width: 100%;
    border-top:1px solid #ccc;
    border-bottom:1px solid #ccc;
  }
}

.post-summary{
  margin-bottom: $spacing;
  .post-meta{
    margin-bottom: 10px;
  }
  .post-title{
    margin-bottom: 10px;
    font-size: 24px;
  }
  .post-thumbnail{
    margin-top: 5px;
    a{
      // max-height: 130px;
    }
  }
  .post-content{
    padding-bottom: 0;
    // height: 190px;
  }
  .post-excerpt{
    font-size: 16px;
    margin-bottom: 0;
  }

  .blog-featured &{
    .post-content{
      height: auto;
    }
    .post-title{
      font-size: 30px;
    }
  }
  .blog-archive &{
    @include medium-large{
      @include span-columns(12);
      .post-thumbnail{
        @include span-columns(6 omega, 12);
      }
      .post-content{
        @include span-columns(6, 12);
      }
    }
  }

}

.post-title{
  font-size: 40px;
  line-height: 1.3;
  font-weight: regular;
  color: #173D58;
  
  @include xsmall-small{
    font-size: 30px;
  }
}

.post-thumbnail{
  padding:10px;
  background:white;
  margin-bottom:30px;
  @include box-shadow(0 1px 3px black(0.35));
  position:relative;
  width:auto;
  a{
    display: block;
    overflow: hidden;
    max-height: 280px;
  }  
  img{
    display:block;
    width:100%;
    height:auto;
  }
  .wp-caption-text{
    text-align:center;
    margin:0;
    padding-top:15px;
    color:$lighter-text;
    font-size:16px;
  }
  .credit{
    margin-top:7px;
    a{
      color:$light-text;
    }
  }
  &:before,&:after{
    position:absolute;
    content:"";
    height:110px;
    width:110px;
    z-index:10;
  }
  &:before{
    background:url("../images/tape1.png");
    top:-25px;
    right:-31px;
  }
  &:after{
    background:url("../images/tape2.png");
    bottom:-25px;
    left:-31px;
  }
}
.border-bottom{
  padding-bottom: 10px;
  border-bottom:1px dotted #ccc;
  margin-bottom:10px;  
}
.section-header{
  @extend .border-bottom;
}
.post-meta{
  @extend .border-bottom;
  margin-bottom:30px;
  font-size: 14px;
  // background: $super-light-bg;
  // padding:6px 20px;
  // border-top:1px solid $light-border;
  line-height: 26px;
  @include cf;
  .back{
    display:block;
    @include small{
      text-align: center;
      margin-bottom: $quarterspacing;
    }
    @include large{
      float:left;
      position: relative;
      top: 2px;
    }
  }
  .rss, .github{
    display:inline-block;
    margin-right:20px;
  }
  .twitter{
    position: relative;
    top: 5px;
    display:inline-block;
    iframe{
      width:90px !important;
      margin: 0;
    }
  }
  .meta-date{
    font-variant: small-caps;
    letter-spacing: 1px;
    float: left;
    @include xsmall-small{
      float: none;
      text-align: center;
    }
  }
  .meta-byline{
    color: $light-text;
    float: right;
    @include xsmall-small{
      float: none;
      text-align: center;
    }
  }
  .meta-author{
    font-style: italic;    
  }
}

.post{
  padding-bottom: $bigspacing;
  margin-bottom: 0;
}
.post-content{
  // padding: 0 60px;
  padding-bottom:40px;

  p, h2, h3, h4, ul, ol, hr, blockquote, pre, .highlight{
    margin-bottom: $pspacing;
    @include xsmall-small{
      margin-bottom: $halfspacing;
    }
  }
  >p:first-child{
    @include small{
      font-size: 20px;
    }
    font-size: 22px;
  }
  ul, ol{
    padding-left: 20px;
  }
  h3{
    @include small{
      font-size: 24px;
      line-height: 1.5;
    }
    @include medium{
      font-size: 30px;
      line-height: 1.3;
    }
    border-bottom: 1px dotted $medium-bg;
  }
  h2, h3{
    strong a{
      font-size: 16px;
    }
  } 
  hr{
    margin-bottom:30px;
    border-bottom: 1px dotted $medium-bg;
    border-top:0;
  }
  h5{
    display:inline-block;
    background:lighten($light-bg, 6%);
    text-transform:uppercase;
    @include border-radius(3px);
    padding:3px 6px;
    font-size:14px;
    font-weight:normal;
  }
  .pullcenter{
    width:50%;
    margin:0 auto 40px auto;
    cursor:pointer;
    img{
      border:0;
    }
    figcaption{
      font-style:italic;
      font-size:14px;
      border-top:1px solid $light-bg;
      padding-top:10px;
      margin-top:10px;
      color:$light-text;
      margin-bottom:20px;
    }
  }
  .video, iframe{
    margin-bottom:40px;
  }
  blockquote{
    padding: 20px 40px;
    border-top: 1px solid $light-border;
    border-bottom: 1px solid $light-border;
    font-style: italic;
    &.pull{
      padding: 20px 0;
    }
    p:last-child{
      margin: 0;
    }
    cite{
      display: block;
      text-align: right;
      margin-top:5px;
      font-weight: bold;
    }
  }
  li{
    ul{
      padding-top: $quarterspacing;
    }
  }

}
.post-share{
  margin-bottom: $spacing;
  border: 1px solid $light-border;
  border-radius: 10px;
  padding: 10px 15px;
  @include cf;
  h4{
    display: inline-block;
    margin: 0 20px 0 0;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
    float: left;
    line-height: 34px;
  }
  .share{
    float: right;
  }
  .post-share-option{
    display: inline-block;
    position: relative;
    &.twitter{
      top:4px;
      margin-left: 30px;
    }
    &.gplus{
      top:4px;
    }
    &.facebook{
      top: -5px;
    }
  }
}
.post-block{
  margin-bottom: 60px;
}
.post-author{
  position: relative;
  border-bottom: 1px dotted $medium-bg;
  padding: $spacing 0;

  // background:$super-light-bg;
  // margin-bottom:60px;
  @include cf;
  .portrait{
    @include border-radius(100px);
    height:80px;
    width:80px;
    float:left;
    display:block;
    @include small{
      margin: 0 $halfspacing $halfspacing 0;
    }
  }
  .post-author-bio{
    margin-left: 100px;
    font-size: 15px;
  }
}
/*.post-nav{
  @include cf;
  font-size: 16px;
  .prev{
    display:block;
    float:left;
  }
  .next{
    display:block;
    float:right;
  }
}*/
.note{
  // background:$light-yellow;
  // @include background(linear-gradient( 125deg, rgba(253,228,0,0.2) 0%, rgba(253,228,0,0.1) 90%));
  border: 3px double $light-border;
  // background: $lightgrey2;
  background: white(0.8);
  padding:30px;
  margin-bottom:30px;
  line-height:1.6;
  p{
    margin-bottom:20px;
    font-size: 16px;
  }
  h3, h4{
    margin:0 0 20px 0;
    border:0;
    font-size:20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    border-bottom: 1px solid $light-border;
    padding-bottom: 10px;
  }
  ul{
    margin:0;
  }
  &.chapter{
    background:$light-bg;
    @include background(linear-gradient( 125deg, rgba(226,224,233,1) 0%, rgba(226,224,233,0.5) 90%));;
  }
  p:last-child{
    margin-bottom:0;
  }
}
.blurb{
  // color: $light-text;
  margin-bottom: 60px;
  background: $light-bg;
  padding: 12px;
  @include cf;
  h4{
    float: left;
    margin: 0;
    width: 60px;
    text-transform: uppercase;
    line-height: 45px;
  }
  p{
    margin: 0 0 0 70px;
    font-style: italic;
    font-size: 16px;
  }
}
.category{
  text-transform: uppercase;
}
.post-newsletter{
  background:$light-yellow;
  @include background(linear-gradient( 125deg, rgba(253,228,0,0.2) 0%, rgba(253,228,0,0.1) 90%));
  border-bottom: 1px dotted $medium-bg;
  @include small{
    padding: $pspacing $halfspacing;
  }
  @include medium{
    padding: 60px;
  }
  position: relative;
}
.blog-comments{
  padding-top:60px;
  position: relative;
}
.discovery-main, #discovery-top{
  display: none !important;
}

.PDS_Poll{
  margin-bottom: $spacing;
}
#PDI_container8099375 .pds-box{
  width: 100% !important;
}
#PDI_container8099375 .pds-input-label{
  width: auto !important;
}