$main-z-index: 100;
$sidebar-z-index: 1000;

* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

body{
}

.container{
	position: relative;
	top:80px;
	padding-bottom: 90px;
	@include medium{
		margin-right: $sidebar-width - 20px; // remove 20px to align padding with edge of notebook
	}
  @include large{
    .main{
      max-width: $medium-break - $sidebar-width; // stop .main from growing by giving it a max-width
    }
  }
}

.main{
  // max-width:920px;
  z-index: $main-z-index;
  width: 100%;
  min-height:1400px;
  margin-bottom: 40px;
  float:left;
  position:relative;
  left: 0px;
	@include xsmall{
	  // background-position: 90%;
	  width: calc(100% + 40px);
	}

	@include xsmall-small{
	  .show-sidebar &{
	    left: -120%;
	  }
	}  
}

.inner{
  position: relative;
  width: 100%;
  max-width: 830px;
  float: right;

  @include xsmall{
    // background-color: rgba(0,255,0,0.2);
    padding:10px 60px 10px 20px;
    right: 0px;
  }

  @include small{
    // background-color: rgba(0,255,0,0.2);
    padding:10px 60px 10px 20px;
    right: 0px;
  }

  @include medium{
    // background-color: rgba(0,0,255,0.2);
    padding:10px 120px 10px 80px;
  }

  @include large{
    // background-color: rgba(255,0,0,0.2);
    padding:10px 120px 10px 80px;
  }

}
