.newsletter{
  form{
    @include cf;
  }
  .email{
    display: block;
    float: left;
    width: 67%;
    margin-right: 5%;
    border: none;
    padding: 8px 10px;
    font-size: 15px;
    @include box-shadow(inset 0px 1px 1px black(0.4));
    line-height: 1.3;
    &::-webkit-input-placeholder{
      line-height:1.3;
      position: relative;
      top: 2px;
    }
  }
  .submit{
    display: block;
    float: left;
    width: 28%;
    background: rgba(7, 22, 32, 0.6);
    color: white;
    font-weight: bold;
    border:none;
    font-size: 15px;
    line-height: 1.3;
    padding: 8px 12px;
    min-height: 38px;
  }    
}
