.background{
  background: url("../images/bg-blurred3.jpg") no-repeat;
  background-size: cover;
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 0;
}

.main{
  background:url("../images/content-bg-middle.png") repeat-y top right;
  @include animate();

  &:before, &:after{
    content:"";
    width:100%;
    height:30px;
    position:absolute;
    left:0px;
  }
  &:before{
    background:url("../images/content-bg-top.png") no-repeat top right;
    @include xsmall{
      // background-position: 90%;
    }
    top:-30px;
  }
  &:after{
    background:url("../images/content-bg-bottom.png") no-repeat bottom right;
    @include xsmall{
      // background-position: 90%;
    }
    bottom:-30px;
  }
}

.inner{
  background:url("../images/stitch.png") repeat-y top right;

  &:before, &:after{
    position:absolute;
    display:block;
    content:" ";
    z-index:200;
    opacity: 0;
    overflow: hidden;
    @include xsmall{
      display: none;
    }
  }
  &:before{
    background:url("../images/decor1.png") no-repeat;
    height:274px;
    width:83px;
    top:1000px;
    right:-48px;
  }
  &:after{
    background:url("../images/decor2.png") no-repeat;
    width:78px;
    height:209px;
    top:300px;
    right:-39px;
  }

}