.blog-pagination{
  @include cf;
  .pagination-prev, .pagination-next{
    width: 46%;
  }
  .pagination-prev{
    float: left;
    margin-right: 8%;
  }
  .pagination-next{
    float: right;
    text-align: right;
  }
  a{
    font-size: 15px;
  }
}