%inverted{
  color: white;
  h1, h2, h3, h4, h5{
    color: white;
  }

}
.sidebar{
  @extend %inverted;
  z-index: 10;
  width: $sidebar-width;
  z-index: $sidebar-z-index;

  @include xsmall-small{
    @include animate;
    position: absolute;
    top: 0px;
    right: -100%;
    .show-sidebar &{
      right: 50%;
      margin-right: -120px;
    }
  }

  @include medium{
    position: fixed;
    right: 0px;
    top: 70px;
  }

  @include large{
    position: fixed;
    top: 70px;
    left: $medium-break - $sidebar-width - 20; // position sidebar right after .main div; remove 20px to align with notebook edge
  }

  text-shadow: 0px 1px 1px black(0.6);
  // float: left;
  text-align: center;
  a{
    color: white;
  }
}
.sidebar-top{
  position: relative;
  margin-bottom: 15px;
}
.sidebar-block{
  // margin-bottom: 20px;
}
.sidebar-title{
  width: 140px;
  height: 140px;
  margin: 0 auto;
  a{
    margin: 0 auto;
    position: relative;
    line-height: 1.3;
    display: block;
    background: rgba(7, 22, 32, 0.6);
    border-radius: 100%;
    padding: 30px;
    width: 100%;
    @include single-transition(all, 500ms, 0ms, cubic-bezier(0.175, 0.885, 0.32, 1.275));
    overflow: hidden;
    &:hover{
      text-decoration: none;
      background: rgba(7, 22, 32, 0.3);
      @include box-shadow(0px 0px 20px 2px white(0.3));
      transform: scale(1.15);
    }
  }
  span{
    display: block;
  }
  .s1{
    font-size: 16px;
  }
  .s2{
    font-size: 30px;
    background: url("http://assets1.folyo.me/assets/logo-white-41e8dee74424daa4600dbbe8f1222a56.png") 50% 50% no-repeat;
    background-size: 100% auto;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
  }
  .s3{
    font-size: 16px;
  }
}
.sidebar-percent{
  position: absolute;
  left: 0px;
  bottom: -40px;
  width: 100%;
  text-align: center;
  @include animate;
  opacity: 0;
  pointer-events: none;  
  .sidebar-title:hover &{
      opacity: 1;
      bottom: -80px
  }
  .sidebar-indicator{
    display: inline-block;
    vertical-align: top;
    text-align: center;
    @extend .secondary-font;
    font-size: 14px;
    color: $text;
    background: white(0.95);
    text-shadow: none;
    padding: 8px 15px;
    // left: 50%;
    // margin-left: -40px;
    &:after {
      bottom: 100%;
      left: 50%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      border-color: white(0);
      border-bottom-color: white(0.95);
      border-width: 10px;
      margin-left: -10px;
    }
    @include xsmall-small{
      display: none;
    }
  }
}
.sidebar-intro p{
  // opacity: 0;
  // top: -20px;
  padding: 0 40px;
  @include single-transition(all, 300ms, 0ms, ease-out);
  @extend .secondary-font;
  // line-height: 1.6;
  font-size: 15px;
  margin-bottom: $halfspacing;
  // padding: 10px 0;
  // border-top: 1px solid white(0.5);
  // border-bottom: 1px solid white(0.5);
  // background: white(0.2);
  color: white(0.75);
  a{
    color: white;
  }
  // background: rgba(7, 22, 32, 0.6);
  // padding: 15px 10px;
  // position: relative;
  // &:after {
  //   bottom: 100%;
  //   left: 50%;
  //   border: solid transparent;
  //   content: " ";
  //   height: 0;
  //   width: 0;
  //   position: absolute;
  //   pointer-events: none;
  //   border-color: rgba(7, 22, 32, 0);
  //   border-bottom-color: rgba(7, 22, 32, 0.6);
  //   border-width: 10px;
  //   margin-left: -10px;
  // }
  // .sidebar-top:hover &{
  //   opacity: 1;
  //   top: 10px
  // }
}
.sidebar-toggle{
  @include xsmall-small{
    display: block;
  }
  position: absolute;
  display: none;
  top: 10px;
  right: 10px;
  height: 40px;
  width: 40px;
  padding:5px;
  overflow: hidden;
  img{
    height: 100%;
    width: 100%;
    display: block;
    filter: drop-shadow(0px 1px 1px rgba(0,0,0,0.25));
  }
  span{
    display: block;
    height: 30px;
    width: 30px;
    background-size: 30px 30px;
    position: absolute;
    @include animate;
    &.open{
      // background-image: url('../images/menu-open.svg');
      left: 5px;
      .show-sidebar &{
        left: -200%;
      }
    }
    &.close{
      // background-image: url('../images/menu-close.svg');
      left: 200%;
      .show-sidebar &{
        left: 5px;
      }
    }
  }
}

.progress{
  position: absolute;
  top: 0px;
  left: 0px;
  pointer-events: none;
  width: 100%;
  height: 100%;
  z-index: 100;
  display: inline-block;

}
/* Common style of SVGs */

.progress svg{
}
.progress svg path {
  fill: none;
}

.progress svg.progress-circle path {
  stroke: white(0.15);
  stroke-width: 3;
  .sidebar-title:hover &{
    stroke: white(0.8);
  }
}

.progress svg.checkmark path,
.progress svg.cross path {
  stroke: #fff;
  stroke-linecap: round;
  stroke-width: 4;
  -webkit-transition: opacity 0.1s;
  transition: opacity 0.1s;
}