// Libraries - external stuff

@import "compass/css3";
@import "susy";

// Includes - mixins, variables, etc.

@import "partials/mixins";
@import "partials/colors";
@import "partials/grid";

// Common - styles that apply to everything

@import "partials/boilerplate";
@import "partials/layout";
@import "partials/typography";
@import "partials/animations";

// Modules - elements that are reused throughout the design

// @import "partials/fancybox";
// @import "partials/post";
@import "partials/notebook";
@import "partials/blog";
@import "partials/figures";
@import "partials/sidebar";
@import "partials/pagination";
@import "partials/newsletter";

// Special - elements that only appear once

// @import "partials/roundtable";
// @import "partials/survey";