:plain
  <div class="featured-image">
    <div class="entry-image">
        <img width="570" height="290" src="http://folyoblog/wp-content/uploads/2012/02/dribbbolympics1.png" class="attachment-full wp-post-image" alt="Something something via Flickr" />                               <p class="credit">Photo credit: <a target="_blank" href="">Something something via Flickr</a></p>
                    </div>
  </div>
/ :plain
/   <a href="http://folyoblog/promoting-yourself-as-a-designer/" class="entry-date">
/         <span class="month">Mar</span>
/         <span class="day">2</span>
/         <span class="full-date">2012/03/02 at 1:24 pm</span>
/       </a>
:plain
  <article id="post-8" class="post-8 post type-post status-publish format-aside hentry category-designer-advice designer-advice">

                  



            <div class="entry-meta clearfix">
              <div class="left">
                <span class="entry-category">Posted in <a href="http://folyoblog/category/designer-advice/" title="View all posts in Designer Advice" rel="category tag">Designer Advice</a></span><a href="http://folyoblog/promoting-yourself-as-a-designer/#comments" title="Comment on Promoting Yourself as a Designer"><span class="dsq-postid" rel="8 http://blog.folyo.me/post/18617989932">2 Comments</span></a>           </div>

            </div>
            <h1 class="entry-title">Promoting Yourself as a Designer</h1>

                      
            
            <div class="entry-content">
                    
        
  <p>Freelance designers don’t lack of advice on how to do things: whether it’s for the print or web, apps or sites you can find tutorial after tutorial explaining the intricacies of design. <!-- more --></p>
  <p>But what about the second part of that advice, the “telling people” part? Its importance is often underestimated, and it can have a big impact on your career.</p>
  <p>So today I’d like to focus on how you can tell people and promote yourself as a freelance designer. <span id="more-8"></span></p>
  <p><strong>1. Have a portfolio</strong></p>
  <p>This should go without saying, and by that I mean a <em>real</em> portfolio, not a Dribbble or Behance account.</p>
  <p>A basic rule: if a visitor can see another designer’s works right next to yours, then it’s not a portfolio.</p>
  <p><strong>2. Be part of a community</strong></p>
  <p>Being part of a community and building a following can be very helpful in creating all kinds of opportunities through <a href="http://en.wikipedia.org/wiki/Interpersonal_ties">weak ties</a>.</p>
  <p>What’s more, as a freelancer, you don’t have any job security and you must assume that you could encounter a dry spell at any point.</p>
  <p>Having a strong network is a form of insurance against this, as it gives you a community to turn to when you need to ask for leads.</p>
  <p>So whether you’re active on Twitter, post shots on Dribbble, or share your work on Forrst, the important thing is to avoid being isolated from the rest of the community.</p>
  <p><strong>3. Help other people</strong></p>
  <p>There’s a ton of people out there who are in desperate need of a designer’s skills, and not all of them can afford to hire a costly freelancer.</p>
  <p>I’m not saying you should do spec work or work for free, but you should take the time to answer questions by email or on sites like <a href="http://www.quora.com">Quora</a> and <a href="http://stackexchange.com">Stack Exchange</a>, give advice to startups, or help friends build their site.</p>
  <p>Eventually, all the goodwill you’ll accumulate will translate into people saying good things about you. Plus, helping people can actually feel good!</p>
  <p><strong>4. Write case studies</strong></p>
  <p>This is something very few designers are doing, and they’re missing out on a huge opportunity.</p>
  <p>Tutorials and article are fine, but people are much more interested in the secrets behind real, live projects.</p>
  <p>So after each project, you should write an article on the lessons you learned and the mistakes you made. If you plan this from the start, you can also take screenshots of your work at regular intervals to show the whole process step by step.</p>
  <p>I personally wrote such an article recently about <a href="http://sachagreif.com/making-of-sharypic-for-iphone/">the making of the Sharypic iPhone app</a>, and my post about <a href="http://sachagreif.com/how-i-designed-codeyear-com-in-1-hour/">designing CodeYear.com in one hour</a> was tweeted almost 1000 times!</p>
  <p><strong>5. Give out freebies</strong></p>
  <p>Bundles, packs, boxes, sets… No matter what they’re called we can’t get enough of free (or cheap) <a href="http://sachagreif.com/the-design-freebies-list/">design resources</a>.</p>
  <p>If you want to get your name out there, don’t hesitate to approach the people behind a bundle to submit your work. And of course you can always give it out on Dribbble or on your own blog.</p>
  <p><strong>6. Work on personal projects</strong></p>
  <p>This is probably the most effective and fulfilling way to promote yourself, but it’s also the hardest.</p>
  <p>It can be hard to take a break from client work when you need to put food on the table, but working on personal projects can also have great returns, or give you a chance to contribute something back to the community.</p>
  <p>For example, last year I took a week or so to create <a href="http://patternify.com">Patternify</a>, a simple online tool to create and export patterns, and I don’t regret it.</p>
  <p><strong>What about you?</strong></p>
  <p>What are your tips and techniques to promote yourself? Or maybe you think it’s a waste of time, and you’ll be discovered as long as you do great work?</p>
                        </div><!-- .entry-content -->
            <footer class="entry-follow">
              <p>Enjoyed the post? Then you should <span class="follow-twitter"><a href="https://twitter.com/YoFolyo" class="twitter-follow-button" data-show-count="false">Follow Folyo on Twitter</a></span> or <a href="http://folyoblog/feed/atom/">subscribe to the RSS feed</a>.</p>
            </footer>
      
            <footer class="entry-utility">
              This entry was posted in <a href="http://folyoblog/category/designer-advice/" title="View all posts in Designer Advice" rel="category tag">Designer Advice</a>. Bookmark the <a href="http://folyoblog/promoting-yourself-as-a-designer/" title="Permalink to Promoting Yourself as a Designer" rel="bookmark">permalink</a>.                     </footer><!-- .entry-utility -->
          </article><!-- #post-## -->
          <nav id="nav-below" class="navigation">
            <div class="nav-previous">
              <a href="http://folyoblog/dribbbolympics-which-country-has-the-best-designers/" rel="prev"><span class="meta-nav"></span> Dribbbolympics: Which Country has the Best Designers?</a>         </div>
            <div class="nav-next">
              <a href="http://folyoblog/design-roundtable-weekplan/" rel="next">Design Roundtable: WeekPlan <span class="meta-nav"></span></a>          </div>
          </nav><!-- #nav-below -->
          
  <div id="disqus_thread">
                      <div id="dsq-content">


              <ul id="dsq-comments">
                      <li class="comment even thread-even depth-1" id="dsq-comment-112">
          <div id="dsq-comment-header-112" class="dsq-comment-header">
              <cite id="dsq-cite-112">
  http://twitter.com/edumicro                <span id="dsq-author-user-112">Eduardo Santos</span>
              </cite>
          </div>
          <div id="dsq-comment-body-112" class="dsq-comment-body">
              <div id="dsq-comment-message-112" class="dsq-comment-message"><p>Really nice tips. I&#8217;m currently trying to make my step into the big community. <img src='http://folyoblog/wp-includes/images/smilies/icon_smile.gif' alt=':)' class='wp-smiley' /> </p>
  </div>
          </div>

      </li>
      <li class="comment odd alt thread-odd thread-alt depth-1" id="dsq-comment-116">
          <div id="dsq-comment-header-116" class="dsq-comment-header">
              <cite id="dsq-cite-116">
  http://twitter.com/bryanZavestoski                <span id="dsq-author-user-116">Bryan Zavestoski</span>
              </cite>
          </div>
          <div id="dsq-comment-body-116" class="dsq-comment-body">
              <div id="dsq-comment-message-116" class="dsq-comment-message"><p>Great post! As a relatively new designer, I&#8217;ll definitely keep all of these tips in mind.</p>
  </div>
          </div>

      </li>
              </ul>


          </div>

      </div>

  <script type="text/javascript">
  /* <![CDATA[ */
      var disqus_url = 'http://folyoblog/promoting-yourself-as-a-designer/';
      var disqus_identifier = '8 http://blog.folyo.me/post/18617989932';
      var disqus_container_id = 'disqus_thread';
      var disqus_domain = 'disqus.com';
      var disqus_shortname = 'folyoblog';
      var disqus_title = "Promoting Yourself as a Designer";
          var disqus_config = function () {
          var config = this; // Access to the config object
          config.language = '';

          /*
             All currently supported events:
              * preData — fires just before we request for initial data
              * preInit - fires after we get initial data but before we load any dependencies
              * onInit  - fires when all dependencies are resolved but before dtpl template is rendered
              * afterRender - fires when template is rendered but before we show it
              * onReady - everything is done
           */

          config.callbacks.preData.push(function() {
              // clear out the container (its filled for SEO/legacy purposes)
              document.getElementById(disqus_container_id).innerHTML = '';
          });
                  config.callbacks.onReady.push(function() {
              // sync comments in the background so we don't block the page
              var script = document.createElement('script');
              script.async = true;
              script.src = '?cf_action=sync_comments&post_id=8';

              var firstScript = document.getElementsByTagName( "script" )[0];
              firstScript.parentNode.insertBefore(script, firstScript);
          });
                      };
  /* ]]> */
  </script>

  <script type="text/javascript">
  /* <![CDATA[ */
      var DsqLocal = {
          'trackbacks': [
          ],
          'trackback_url': "http:\/\/folyoblog\/promoting-yourself-as-a-designer\/trackback\/"    };
  /* ]]> */
  </script>

  <script type="text/javascript">
  /* <![CDATA[ */
  (function() {
      var dsq = document.createElement('script'); dsq.type = 'text/javascript';
      dsq.async = true;
      dsq.src = '//' + disqus_shortname + '.' + 'disqus.com' + '/embed.js?pname=wordpress&pver=2.74';
      (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
  })();
  /* ]]> */
  </script>
    </div><!-- stitch -->
      </section><!-- #main -->
      <div id="sidebar">

    <ul class="widgets">
      <li id="must-read" class="widget-container">  
        <h3 class="widget-title"><span>Read This First</span></h3>
          <ul>
          <li><a href="http://folyo.me/guides/how_to_pick_a_great_designer" title="How to Pick a Great Designer">How to Pick a Great Designer</a></li>
          <li><a href="http://folyo.me/guides/how_to_write_a_good_job_description" title="How to Write a Good Job Description">How to Write a Good Job Description</a></li>
          <li><a href="/how-much-does-a-website-cost-and-other-pricing-questions/" title="How Much Does a Website Cost?">How Much Does a Website Cost?</a></li>
          </ul>
      </li>
        <li id="recent-posts-2" class="widget-container widget_recent_entries">   <h3 class="widget-title"><span>Recent Posts</span></h3>   <ul>
            <li>
          <a href="http://folyoblog/simple-survey/" title="Simple survey">Simple survey</a>
              </li>
            <li>
          <a href="http://folyoblog/design-roundtable-weekplan/" title="Design Roundtable: WeekPlan">Design Roundtable: WeekPlan</a>
              </li>
            <li>
          <a href="http://folyoblog/promoting-yourself-as-a-designer/" title="Promoting Yourself as a Designer">Promoting Yourself as a Designer</a>
              </li>
            <li>
          <a href="http://folyoblog/dribbbolympics-which-country-has-the-best-designers/" title="Dribbbolympics: Which Country has the Best Designers?">Dribbbolympics: Which Country has the Best Designers?</a>
              </li>
            <li>
          <a href="http://folyoblog/an-improved-budget-system/" title="An Improved Budget System">An Improved Budget System</a>
              </li>
          </ul>
      </li><li id="categories-2" class="widget-container widget_categories"><h3 class="widget-title"><span>Categories</span></h3>   <ul>
    <li class="cat-item cat-item-5"><a href="http://folyoblog/category/announcements/" title="View all posts filed under Announcements">Announcements</a>
  </li>
    <li class="cat-item cat-item-8"><a href="http://folyoblog/category/articles/" title="View all posts filed under Articles">Articles</a>
  </li>
    <li class="cat-item cat-item-7"><a href="http://folyoblog/category/client-advice/" title="View all posts filed under Client Advice">Client Advice</a>
  </li>
    <li class="cat-item cat-item-4"><a href="http://folyoblog/category/designer-advice/" title="View all posts filed under Designer Advice">Designer Advice</a>
  </li>
    <li class="cat-item cat-item-9"><a href="http://folyoblog/category/roundtables/" title="View all posts filed under Roundtables">Roundtables</a>
  </li>
    <li class="cat-item cat-item-6"><a href="http://folyoblog/category/showcases/" title="View all posts filed under Showcases">Showcases</a>
  </li>
    <li class="cat-item cat-item-1"><a href="http://folyoblog/category/uncategorized/" title="View all posts filed under Uncategorized">Uncategorized</a>
  </li>
      </ul>
  </li> </ul>

      
  </div>    
      <footer id="footer" role="contentinfo">


        <!-- <a href="http://folyoblog/" title="Folyo Blog" rel="home">Folyo Blog</a> -->
            <!-- <a href="http://wordpress.org/" title="Semantic Personal Publishing Platform" rel="generator">Proudly powered by WordPress </a> -->
      </footer><!-- footer -->
      </div>