:plain
  <header>
    <h1 id="logo"><a href="http://folyoblog/" title="Folyo Blog" rel="home">Folyo Blog</a></h1>
    <div class="tagline">
      <p>I'm <a href="http://sachagreif.com" target="_blank">Sacha Greif</a>, a designer &amp; entrepreneur living in Kyoto. </p>
      <p>These are my notes about running <a href="http://folyo.me">Folyo</a>, a private job board that helps startups find great hand-picked designers.</p>
    </div>
    <nav id="navigation" role="navigation">
              <a id="skip" href="#content" title="Skip to content">Skip to content</a>
              <div class="menu"><ul><li ><a href="http://folyoblog/" title="Home">Home</a></li><li class="page_item page-item-125"><a href="http://folyoblog/portfolio-quiz-results/">Portfolio Quiz Results</a></li><li class="page_item page-item-127"><a href="http://folyoblog/results/">Quiz Results</a></li><li class="page_item page-item-2"><a href="http://folyoblog/sample-page/">Sample Page</a></li></ul></div>
      
            </nav>
  </header>