.widget-newsletter
  / %h4.newsletter-title Join Our Newsletter
  / %p.newsletter-intro Receive weekly tips and advice on design
  %a.widget-dismiss{:href => 'javascript:void(0)'}
    %img{:src => '/images/menu-close.svg'}
  %h4.widget-title Want More?
  %p.widget-intro Join our newsletter to receive our guide on the <strong>9&nbsp;keys to picking great designers</strong>:
  =partial("partials/newsletter_form")