%form{:action => "http://sachagreif.us2.list-manage1.com/subscribe/post?u=b5af47765edbd2fc173dbf27a&amp;id=ec6d041640", :method => "post", :name => "mc-embedded-subscribe-form", :novalidate => "", :target => "_blank"}
  / .control-group
  /   I'm…
  /   %input{:type => "checkbox"}
  /   %label{:for => ""} Looking for designers
  /   %input{:type => "checkbox"}
  /   %label{:for => ""} Looking for design work
  %input.email.text{:name => "EMAIL", :placeholder => "Your email", :type => "email"}
  %input#landing{:type=>"hidden", :name=>"LANDING", :value=>"Folyo Blog"}
  %input#origin{:type=>"hidden", :name=>"ORIGIN"}
  %button.submit.button#newsletter-submit{:name => "subscribe", :type => "submit", 'data-category' => 'Join newsletter', 'data-action' => 'click', 'data-label' => 'form buttons'} Join