%section#newsletter

  %h2 Get the first four chapters of <em>Discover Meteor</em> for free!

  %p Join our newsletter and you'll receive <strong>a free PDF</strong> containing the first four chapters of the book to help you get started!

  =partial("partials/newsletter_form")