.widget-nowidgets
  %a.widget-dismiss{:href => 'javascript:void(0)'}
    %img{:src => '/images/menu-close.svg'}
  %h4.widget-title We get it.
  %p.widget-intro You don't like widgets popping up while you're trying to read. This is the last one you'll ever see. 