.widget-share
  %a.widget-dismiss{:href => 'javascript:void(0)'}
    %img{:src => '/images/menu-close.svg'}
  %h4.widget-title Like it? Share it!
  =partial("partials/share_buttons")

  / %p.widget-footer Sharing is an easy way to show your support and encourage us to write more :)