---
title: Can Clients Trust You?
author: sacha
published: true
date: 2014/04/06
thumb: trust.jpg
tags: Article
---


If you're a freelancer, what would you say is the **single most important factor** when it comes to clients deciding whether or not to give you a project? 

Having a great portfolio? A lot of experience? Being familiar with all the latest tools? **Wrong**. 

Now don't get me wrong, those all count for something. But the most important factor is *trust*.

### A Question Of Trust

When a client is hiring you, they want to know that you can be trusted. Trusted to deliver high-quality work, trusted to meet deadlines, and above all trusted not to take their money and run.

Think back to the last time you had to pick between two pairs of shoes, order at the restaurant, or any similar situation when you had to make a choice. 

In those situations, we do our best to persuade ourselves we're picking the right option, and we look to any clues we can to help us feel good about our decision.

### Client Fears

Similarly, when a client is looking to hire a designer, they want to know that they made the right decision, and your job is to help convince them that they did.

Clients are afraid they'll pick an incompetent designer, that you'll be the wrong person for the job, or even that you'll try to scam them. Make these fears go away, and you'll most likely get the job.

And once trust is there, the rest naturally falls into place. The first version of the project isn't good enough? The client will trust that you'll do better for the next one. Want to try a new, edgy look? The client will trust that you know what you're doing. Missed a deadline? The client will trust that you had your reasons, and did your best.

### Blind Spot

Yet when I look at designer portfolios, very few of them are optimized to show *trustworthiness*.

Seriously, it would be funny if it wasn't so sad: every single designer I know will obsess over what font, color scheme, and layout to use for his personal portfolio site, often scrapping multiple versions before pushing out something.

I'd be willing to bet that if even one tenth of that time was spent thinking about showing that clients can trust you, you'd probably get a lot more people contacting you.

So how do you communicate trust? Let's take a look at a couple key elements.

### Client Names

Your work itself is the first step to demonstrating you can be trusted. It shows that other companies have trusted you in the past, and hopefully that they were right to do so. 

Just don't forget to put the company name forward. A lot of designer organize their portfolio by type of work rather than by client. This is a missed opportunity, especially if any of your previous clients have some name recognition. 

<%= figure "blog/pixelinspired.jpg", "<a href='http://www.pixelinspired.com/'>Zlatko Najdenovski</a>'s portfolio features nice work, but hides client names until you hover on each thumbnail.", "", "http://www.pixelinspired.com/" %>


### Testimonials

If your past clients were happy with your work, let them say so on your site.

I'll tell you a secret right now: no client is going to say you made them a crappy logo, because that would be *admitting their logo is crappy*. So unless you were a complete jerk to work with, most clients will be happy to provide a glowing testimonial.

<%= figure "blog/erik.jpg", "<a href='http://erikdkennedy.com/portfolio/'>Erik Kennedy</a>'s portfolio puts satisfied client's testimonials forward.", "", "http://erikdkennedy.com/portfolio/" %>

While browsing through designer portfolios, I found very few of them who featured client quotes prominently, and I think that's a mistake.

Instead of using a vague generic tagline such as "I design beautiful and usable sites that blah blah blah", wouldn't it be much more powerful to display an actual quote from a satisfied customer?

### Other Elements

What else would make somebody who doesn't know you trust you? How about links to profiles on Twitter or Dribbble, to show that you're a respected member of the online design community?

<%= figure "blog/claus.jpg", "<a href='http://hollensteiner.me/'>Claus Hollensteiner</a> ends his portfolio with a short bio section.", "", "http://hollensteiner.me/" %>

Including your photo and a short bio can also make people feel like you can be trusted. And if you work primarily with local businesses, maybe a phone number and address would be a good idea too.

### But Famous Designer XYZ Doesn't Do That!

Lastly, I want to warn you against taking inspiration from the sites of established designers. These designers have built a huge network over the years, and have job proposals dropping in their inboxes like clockwork. They couldn't care less what their portfolio sites look like.

In fact, I'm willing to bet that more than a few well-known designers intentionally hide away their work in hopes of stemming the tide of unwanted client inquiries.

So realize that you and [Jason Santa Maria](http://jasonsantamaria.com/) or [Frank Chimero](http://frankchimero.com/work/) probably have very different goals (unless you actually _are_ Jason or Frank, in which case, would you like to join [Folyo](http://folyo.me) by any chance?).

### In Conclusion

Designers are first and foremost problem solvers. So let me put it this way: if you want to land projects, the first problem you should be solving is not "how do I make my portfolio look beautiful", but "how do I make myself look trustworthy".
