---
title: 'Common Portfolio Mistakes (And How To Fix Them)'
author: sacha
published: true
date: 2014/04/25
thumb: portfolio.jpg
tags: Designers
---

<!-- *Note: be sure to also check out our quiz on [evaluating your portfolio site's effectiveness](http://blog.folyo.me/folyo-quiz-how-good-is-your-portfolio/)!* -->

As the curator of Folyo, I see a lot of different portfolios go by. And I can’t help but notice the same patterns of bad design cropping up time and again.

Being designers, we should be aware of how much look and feel can influence the way content is perceived. Yet for some reason we’re happy to forget all about this when it comes to displaying our own work.

I know, I know, you just happen to be working on a new version of your portfolio and it’s going to be great, just wait! As soon as you finish that urgent project for that important client, and also learn to use those fancy new CSS3 animations, try out a couple fonts, and maybe also solve world hunger while you’re at it…

Stop. None of the problems mentioned in this article take more than a couple hours to fix, yet those simple fixes can have a dramatic impact on your portfolio. So quit procrastinating and read on!

### Mistake #1: No Portfolio

Let’s get this out of the way. Even in this age of blogs, tumblelogs, and social networks, there’s no excuse for not having a portfolio.

Don’t force potential clients to sift through your blog to see your work, or hunt you across multiple social networks to get a glimpse of what you’re working on.

**Easy fix: get a free portfolio**

There’s no lack of great portfolio services. They take 15 minutes to set up, and are optimized for showing your work. Here are three very good services which all have free plans:

* [Dunked](http://dunked.com/)
* [Cargo](http://cargocollective.com/)
* [4ormat](http://4ormat.com/)

And of course, you can also find portfolio themes for Tumblr and Wordpress. Believe me, nobody will care that you haven’t designed your own portfolio as long as the work inside it is great. Here are a few suggestions:

**Wordpress**

* [Sideshow](http://themeforest.net/item/sideshow-funktastic-portfolio-wordpress-theme/550344/?ref=SachaG)
* [Garnish](http://themeforest.net/item/garnish-cleancut-wordpress-portfolio-theme/308989/?ref=SachaG)

**Tumblr**

* [Simplefolio](http://www.tumblr.com/theme/8955)



### Mistake #2: Stupid Tagline

For some reason, designers love to feature a huge tagline set in 72px font shouting something like “I create beautiful and usable designs”.

“Ooh, look at how daring and original I am”, those taglines seem to say, “I’m breaking the mold and making a statement by using 72px Helvetica just like everybody else!”

No! Bad designer! Stop!

**Easy fix: client quote**

These generic cookie-cutter taglines don’t add any value to your site, and don’t tell me anything about you. Instead, why not feature something a real person actually said about you?

Maybe something like “Jeff was awesome to work with, he was like a breath of fresh air* after trying out 5 other designers”.

Boom! In one sentence, you’ve used social proof to convince your potential clients that not only do you do great work, but you’re also better than the competition. What do you say now, Mr Usable Websites?

\* You may or may not draw little clouds around the words “breath of fresh air”.



### Mistake #3: Painfully Tiny Thumbnails

Believe it or not, my first portfolio actually had 32px*32px thumbnails. It felt really smart and minimalist and post-modern (whatever that means), and it was completely stupid.

Now most people are not as dumb as I was, but I still see a lot of cases of Smallthumbnailitis (thankfully, it’s not contagious).

People are browsing your site for one reason and one reason only, to see your work! Don’t hide it!

**Easy fix: bigger thumbnails**

‘Nuff said.



### Mistake #4: Small Screenshots

A close cousin to Mistake #3, this one is even worse. You can’t tell much by looking at a medium-sized screenshot. You want a big image, ideally 100%.

Also, make it easy to go from one image to the next. If you’re using a slideshow, avoid long transitions or fancy effects that slow down the experience

**Easy fix: bigger screenshots**

If you don’t feel like changing your portfolio’s layout, just stick screenshots in a lightbox, or heck just link to image files. I’d much rather look at a full-size image in an empty web browser than a shrinked and cropped image in a busy page.

Personally, I’m a fan of how [Weightshift](http://weightshift.com/) showcases [their work](http://weightshift.com/work/lookout): simply big images one after the other, and you just have to scroll down to see more.



### Mistake #5: Inconsistent Work

This one is a biggie. It’s tempting to want to include everything you’ve done in your portfolio including your pre-school crayon drawings, but please don’t.

As a client, the question I’m trying to answer when I’m browsing your portfolio is “can I count on this designer to do great work for me?”.

If I see 5 great pieces the answer will be “probably yes”.

If I see 5 great pieces and 5 crappy ones, the answers becomes “maybe, maybe not”. After all, I have no way of knowing if the work you do for me will fall among the good pieces or the bad ones.

Who cares if you’ve worked for 5, 10, or 50 clients before? Quantity doesn’t imply quality, and actually they’re sometimes opposites.

**Easy fix: curate your portfolio**

The average client probably has time to check out 6-7 projects tops. So keep your 10 best projects and throw out everything else. I know it’s hard, but it must be done.



### Mistake #6: Lack of Details

I know I’m not hiring you to write a novel, but still, a basic level of details and explanations would be nice. A good designer needs to be a good communicator, and you don’t want to leave a bad first impression by having a portfolio stuck on mute.

Similarly, some portfolio only show a single screenshot for each project. That’s really not enough to get a good idea of what you did.

**Easy fix: add a couple details**

When did you work on this project? What did you do exactly? How did your work impact the company? Was the client happy?

Show us secondary pages, focus on details, show unused concepts…

Even better, write a short case study detailing your design process with sketches, rejected versions, etc.



### Mistake #7: Unfocused Portfolio

This one is debatable, but I personally feel your portfolio should have a consistent focus. It’s extremely hard to be simultaneously great at web design, logo design, print design, and mobile design, (and if you were you probably would not be reading this article).

Of course, it’s different if you’re creating a single identity across a variety of medias and supports.

But what I’d avoid is showing a logo for Brand A, a website for Brand B, a t-shirt design for Brand C, etc. If I want a logo/website/t-shirt I’d rather hire someone specialized in that field rather than a jack of all trades.

**<span style="text-decoration: line-through;">Easy</span> Hard fix: refocus your career**

I know, this one isn’t easy by any means. But like Steve Jobs said, “the secret to innovation is saying no to 10000 things”. If you want to be great, you’ll also have to say no and focus your portfolio on a single field.

Note that there’s nothing wrong with cheating: you could always have one portfolio per field, and show the relevant one to potential clients



Do you have a portfolio? Do you agree with those tips? Let me know in the comments!

<!-- And if you want to know how you stack up yourself, you can [take this 10-questions quiz](http://blog.folyo.me/folyo-quiz-how-good-is-your-portfolio/) to see how effective your own portfolio site is. -->

*Portfolio Illustration Credit: [Paykhan](http://www.paykhan.com/)*

*Note: this article was originally published on October 25, 2011*