---
title: Folyo is joining Workshop
author: sacha
published: true
date: 2015/06/22
thumb: sf.jpeg
tags: Article
featured: true
---
Building a great business means building a great team. 

The first time I visited San Francisco I was inspired by the amount of people looking to change the world by building new apps, new products, and new technologies. 

I also noticed something: every startup I met told me how hard it was to find a great designer. Being a designer who had worked with many startups myself, I started thinking I could do something to help. I started working on what would eventually become Folyo. 

At the time it was simply called The List, and was little more than a contact form that any company could submit a project to. Next, I'd forward their project to a list of a hundred or so hand-picked designers. 

I spent the next couple months teaching myself Rails, hiring freelance developers, and basically doing whatever it took to get the project out the door, until it finally launched a few months later.

Initial feedback was great: both designers and companies loved this easy way to find jobs and hire freelancers but I struggled to make things work as a lone bootstrapper. 

### Taking care of design, development, and marketing by myself (on top of my freelancing business) was simply too much to handle. 

The site would alternate between short bursts of activity, and longer periods of stagnation while I focused on client projects. 

After two years of this I decided a change was needed, so I started looking for a partner to fill a CTO role. I had already worked with [Christian Blavier](https://about.me/christian.blavier) at his previous company, and I knew he was a top-tier Rails developer. I was thrilled when he accepted my offer, and joined Folyo. 

I can't stress how much of a difference having an actual, experienced developer on board made. I no longer felt hamstrung by my own lack of technical abilities, and I started having high hopes for Folyo again.

We did implement a lot of very cool features: from a designer shortlisting interface for clients, to an automated email system triggered by user actions, to a dashboard designed to help us moderate designer portfolios. 

And I feel it's important to stress that Folyo was profitable from day one, and has kept on bringing in revenue ever since – even during months when we barely worked on the app. 

Despite all this, we never quite found the secret sauce that would make Folyo take off for good and it was obvious that once more, a change was needed. 

We needed to either double down on Folyo and *really* give it a chance to reach its potential, or else shut down the project. When we decided to be honest with ourselves, we realized years of slow grind had eroded our passion for the project, and we just didn't have it in us to keep going. 

### So we went with a third option: find Folyo a new home. 

We started looking around. We had two basic requirements: Folyo's new owners needed to be familiar with the design jobs market, and we also needed to be confident that they would treat our users well. 

When put this way, the answer quickly became obvious: Workshop was the perfect fit for Folyo. 

Workshop solves the same problem as Folyo (connecting freelancers and companies), but comes at it from another angle: instead of getting companies to submit job offers, it sends freelancers a daily list of the best opportunities on the web, including stuff from outside job boards, twitter, and other locations.

Similar to Folyo, this has attracted top freelance designers and developers because their time is worth a lot more than the average run-of-the-mill freelancer who uses a marketplace like odesk or elance. They’re willing to pay for leads because they’re primary concern is doing great work, not finding it.

What's more, Workshop founder Robert Williams [used Folyo when he was freelancing to land a handful of projects](https://medium.com/@letsworkshop/deleted-my-portfolio-made-30k-in-my-first-six-months-a8fba62e9611), so who better to take the lead of the product than one of its own users?

<%= figure "workshop.png", "Workshop sends dozens of freelance leads everyday", "", "" %>

### So, it's official: starting today, Folyo is now part of Workshop. 

The new Folyo team will fill you in once they start making changes but for now the service will remain as is. If you haven’t noticed a change yet, you probably won’t at all because Robert’s already been handling the support and running Folyo behind the scenes for the last couple of weeks.

What you will hopefully experience is a benefit in both services. Not just in the product but the support, and educational content that Folyo creates. 

**If you're a designer:** You'll see more high quality projects posted on Folyo meaning more opportunities to be a part of great projects. 

**If you're looking to hire a great designer:** Robert has put together a free course that will demystify the project process and help you prepare for your role of hiring a freelance designer.

Since day one we’ve focused on helping you make technical decisions when you hire a designer, whether you yourself are a designer or not. Now Folyo will give you a new roadmap for not getting overwhelmed by those decisions. 

It will ensure you’re asking the right questions, giving effective feedback, and hiring freelancers who will challenge you to make the best product possible.

### You can get the free course on getting the most out of amazing freelancers for free

<div class="newsletter post-block">
<form action="https://www.getdrip.com/forms/9968434/submissions" method="post" target="_blank" data-drip-embedded-form="9968434">
    <div>
        <input class="email text" type="email" name="fields[email]" value="" placeholder="Email Address" />
    </div>
  <div>
    <input type="submit" name="submit" value="Sign up" class="submit button" id="newsletter-submit" data-drip-attribute="sign-up-button" />
  </div>
</form>


</div>


For the first time in months, I can honestly say I'm excited about Folyo's future. And I hope you are, too!

– Sacha Greif


