---
title: Running Meteor on Windows with Gabriel Pugliese
author: sacha
published: true
date: 2013/05/27
tags: Video
---


While working on the book, we collected a lot of material that ended up not making it into the final edition. So we decided to make this extra material available for free. 




In this first video, Meteor enthusiast Gabriel Pugliese talks about:

- How he first discovered Meteor by working on a simple chat widget. 
- FriendTrumps, the Facebook game he developed using Meteor.
- His setup for running Meteor on Windows. 

<div class="video">
<iframe width="740" height="416" src="https://www.youtube.com/embed/UMFSQCP-n6Y?rel=0" frameborder="0" allowfullscreen></iframe>
</div>

If you want to know when we upload new videos, don't forget to [subscribe to our YouTube channel](http://www.youtube.com/user/DiscoverMeteor).

And by the way, if you're working on a cool Meteor app as well, don't hesitate to [get in touch](http://discovermeteor.wufoo.com/forms/get-in-touch/). We'd love to learn more! 

### Links

- [Gabriel Pugliese on GitHub](https://github.com/gabrielhpugliese)
- [Gabriel Pugliese on Twitter](https://twitter.com/gabrielsapo)
- [FriendTrumps](http://www.friendtrumps.com/)
- [SuperChat](http://siteapps.com/app/superchat-307)
- [Running Meteor on Windows](http://win.meteor.com)

