---
pageable: true
---

- content_for(:title, "The Folyo Blog")
- content_for(:layout, "archives")

.blog-archive
  .blog-articles
    - page_articles.each do |post|
      =partial("partials/summary", :locals=>{post:post})
  =partial("partials/pagination", :locals =>{prev_page: prev_page, next_page: next_page, pagination_class: 'small'})
