---
title: The Folyo Blog
page: blog
pageable: true
---

- content_for(:title, "The Folyo Blog")
- content_for(:layout, "archives")

- if page_number == 1
  %section.blog-featured
    %h2.section-title
      %span Featured Article
    .blog-articles
      - blog.articles.select{|chapter| chapter.data.has_key?('featured') && chapter.data.featured}.take(1).each do |post|
        %article.block.post-summary.post-featured
          - if post.data.thumb
            .post-thumbnail
              %a{:href => post.url}
                %img.thumb{:src => "/images/blog/"+post.data.thumb}
          .post-content
            %h3.post-title
              %a{:href => post.url}
                =post.title
            .post-excerpt
              =Sanitize.clean(post.summary(100), Sanitize::Config::RESTRICTED)
              %a{:href => post.url} →&nbsp;Read&nbsp;more



%section.blog-archive
  - if page_number == 1
    %h2.section-title
      %span Recent Articles
  .blog-articles
    - page_articles.each do |post|
      =partial("partials/summary", :locals=>{post:post})
  =partial("partials/pagination", :locals =>{prev_page: prev_page, next_page: next_page, pagination_class: 'small'})